
.body,html{
    margin: 0%;
    display: flex;
    padding: 0%;
    width: 100%;
    overflow-x: none;
}
.background{
    position: absolute;    
    width: 100vw;
    height: 858px;
    display: flex;
    margin: 0%;
    padding: 0%;
    flex-direction: column;
    
    background-color: #1E71FF;
    }
.navbar{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    top: 0%;
    left: 0%;
    
}

.containernavbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.gambar1{
    position: relative;
    width: 26rem;
    
}

.top-menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

.top-menu>a{
    width: 100px;
    height: 28px;
    margin: 1rem;
    padding: 0.25rem;
    text-decoration: none;
    text-align: center;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18.5px;
    line-height: 4rem;
    
    
    
    color:#FFFFFF;

}

.have{position: absolute;
    width: 29.1rem;
    height: 11.1rem;
    left: 8.7rem;
    top: 19.0rem;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 5.5rem;
    
    
    color: #FFFFFF;
}
.fast{position: absolute;
    width: 40rem;
    height: 1.6rem;
    left: 8.6rem;
    top: 36rem;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    
    color: #FFFFFF;
    

}

.try{position: absolute;
    width: 101px;
    height: 26px;
    left: 135px;
    top: 650px;
    border-radius: 45px;
    padding: 20px;
    text-align: center;
    background-color: #FFFFFF;
    
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 22.5px;
    line-height: 26px;
    
    color: #0356CD;
    

}

.get{position: absolute;
    width: 118px;
    height: 26px;
    left: 315px;
    top: 648px;
    border-radius: 45px;
    opacity: 0.9;
    border: 1px solid #FCFCFC;
    padding: 19px;
    text-align: center;
    background-color: #1E71FF;
    
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 22.5px;
    line-height: 26px;
    
    color: #FFFFFF;
}
.gambar2{
    position: absolute;
width: 619.97px;
height: 542px;
left: 600px;
top: 236px;

}
.instant{position: absolute;
    width: 383px;
    height: 24px;
    left: 533px;
    top: 1017px;
    text-align: center;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 12px;
    /* or 32% */
    
    
    color: #3B454D;

}
.loremipsum{position: absolute;
    width: 626px;
    height: 130px;
    left: 380px;
    top: 1074px;
    text-align: center;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22.5px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.02em;
    
    color: #3B454D;

}
.gambar3{position: absolute;
    width: 990px;
    height: 644px;
    left: 174px;
    top: 1273px;
    

}
.background2{
    position: absolute;
width: 100%;
height: 858px;
top: 2189px;

background: rgba(30, 113, 255, 0.1);
}

.gambar4{
    position: absolute;
    width: 613px;
    height: 540px;
    left: -1px;
    top: 2361px;
    border-radius: 17px;

}
.ellipse1{
    position: absolute;
    width: 159px;
    height: 23px;
    left: 0px;
    top: 2330px;
    
}
.ellipse2{
    position: absolute;
    width: 190px;
    height: 145px;
    left: 456px;
    top: 2793px;
    
}
.perfectsolution{
    position: absolute;
width: 527px;
height: 239px;
left: 728px;
top: 2342px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 65px;
line-height: 87px;



color: #3B454D;

}
.pricingplans{
    position: absolute;
width: 319px;
height: 26px;
left: 727px;
top: 2632px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 22.5px;
line-height: 26px;

color: #3B454D;
}
.tryitfree2{
    position: absolute;
width: 101px;
height: 26px;
left: 730px;
top: 2721px;
border-radius: 45px;
padding: 20px;
text-align: center;
background-color:#1E71FF;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 22.5px;
line-height: 26px;

color: #FFFFFF;


}
.getademo2{
    position: absolute;
width: 118px;
height: 26px;
left: 919px;
top: 2721px;
border-radius: 45px;
padding: 20px;
border: 1px solid #1E71FF;
text-align: center;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 22.5px;
line-height: 26px;

color: #1E71FF;

}
.star{
    position: absolute;
width: 124.74px;
height: 19.03px;
left: 705px;
top: 2887px;

}
.over5000{
    position: absolute;
width: 356px;
height: 60px;
left: 857px;
top: 2860px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 22.5px;
line-height: 30px;


letter-spacing: 0.04em;

color: #3B454D;
}

.chatapp2{position: absolute;
    width: 110px;
    left: 48px;
    top: 3215px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22.5px;
    line-height: 34px;
    /* identical to box height */
    
    
    color: #185BCC;
    

}
.thelast{position: absolute;
    width: 211px;
    height: 56px;
    left: 48px;
    top: 3234px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 17.5px;
    line-height: 28px;
    /* or 160% */
    
    
    color: #000000;

}
.icon{
    position: absolute;
    left: 48px;
    top: 3350px;
    text-decoration: none;
    width: 50px;
    height: 50px;
    background-color: #1E71FF;
    color:#FFFFFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:
    5px 5px 10px #3B454D,
    -5px -5px 10px #ACAEB1 
}
.icon :focus{
    animation: shadow .15s
    ease-in-out;
}
@keyframes shadow{
    0% {
        box-shadow:
        inset 5px 5px 10px #3B454D,
        inset 5px -5px 10px #ACAEB1;
    }
    100% {
        box-shadow: none;
    }
}
.copyright{position: absolute;
    width: 26px;
    height: 28px;
    left: 35px;
    top: 3480px;
    }


.copyright2{position: absolute;
    width: 199px;
    height: 28px;
    left: 59px;
    top: 3460px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 17.5px;
    line-height: 28px;
    /* identical to box height, or 160% */
    
    
    color: #000000;

}
.contact2{position: absolute;
    width: 92px;
    height: 34px;
    left: 343px;
    top: 3202px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 22.5px;
    line-height: 34px;
    /* identical to box height */
    
    
    color: #000000;
    

}
.info{position: absolute;
    width: 178px;
    height: 28px;
    left: 347px;
    top: 3271px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 18.5px;
    line-height: 28px;
    /* identical to box height */
    
    
    color: #000000;

}
.nomor{position: absolute;
    width: 136px;
    height: 28px;
    left: 347px;
    top: 3315px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 18.5px;
    line-height: 28px;
    /* identical to box height */
    
    
    color: #000000;
    

}
.alamat{position: absolute;
    width: 170px;
    height: 28px;
    left: 343px;
    top: 3359px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 18.5px;
    line-height: 28px;
    /* identical to box height */
    
    
    color: #000000;

}


.help{position: absolute;
    width: 50px;
    height: 34px;
    left: 605px;
    top: 3203px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 22.5px;
    line-height: 34px;
    /* identical to box height */
    
    
    color: #000000;}
.support{position: absolute;
    width: 73px;
    height: 28px;
    left: 605px;
    top: 3262px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 18.5px;
    line-height: 28px;
    /* identical to box height */
    
    
    color: #000000;}
.knowledgebase{position: absolute;
    width: 148px;
    height: 28px;
    left: 605px;
    top: 3306px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 18.5px;
    line-height: 28px;
    /* identical to box height */
    
    
    color: #000000;
    }
.tutorial{position: absolute;
    width: 68px;
    height: 28px;
    left: 609px;
    top: 3350px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 18.5px;
    line-height: 28px;
    /* identical to box height */
    
    
    color: #000000;
    }



.features{position: absolute;
    width: 97px;
    height: 34px;
    left: 828px;
    top: 3202px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 22.5px;
    line-height: 34px;
    /* identical to box height */
    
    
    color: #000000;
    }
.screen{position: absolute;
    width: 129px;
    height: 28px;
    left: 828px;
    top: 3262px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 18.5px;
    line-height: 28px;
    /* identical to box height */
    
    
    color: #000000;}
.ios{position: absolute;
    width: 200px;
    height: 28px;
    left: 830px;
    top: 3307px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 18.5px;
    line-height: 28px;
    /* identical to box height */
    
    
    color: #000000;
    }
.user{position: absolute;
    width: 170px;
    height: 28px;
    left: 828px;
    top: 3352px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 18.5px;
    line-height: 28px;
    /* identical to box height */
    
    
    color: #000000;
    }
.file{position: absolute;
    width: 105px;
    height: 28px;
    left: 828px;
    top: 3392px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 18.5px;
    line-height: 28px;
    /* identical to box height */
    
    
    color: #000000;
    }


.company{position: absolute;
    width: 112px;
    height: 34px;
    left: 1098px;
    top: 3202px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 22.5px;
    line-height: 34px;
    /* identical to box height */
    
    
    color: #000000;
    }
.screensaving{position: absolute;
    width: 129px;
    height: 28px;
    left: 1098px;
    top: 3257px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 18.5px;
    line-height: 28px;
    /* identical to box height */
    
    
    color: #000000;
    }
.aboutus{position: absolute;
    width: 81px;
    height: 28px;
    left: 1098px;
    top: 3298px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 18.5px;
    line-height: 28px;
    /* identical to box height */
    
    
    color: #000000;
    }
.careers{position: absolute;
    width: 73px;
    height: 28px;
    left: 1098px;
    top: 3339px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 18.5px;
    line-height: 28px;
    /* identical to box height */
    
    
    color: #000000;
    }